<% include partials/header %>
<div>

<h1>Search for that movie: </h1>

<form action ='/results' method='GET'>
    <input type ='text' placeholder ='Just type here' name='search'>
    <input id="btn" type='submit'>
</form>

 <% include partials/footer %>
 </div>
